{% extends "base.html" %}
{% load static %}
{% block title %}
Вход
{% endblock %}
{% block content %}

<h2>Вход</h2>
<form id="loginForm">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Введите email"
            required
        >
    </div>
    <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Введите пароль"
            required
            minlength="8"
        >
    </div>
    <div id="message" class="mb-3"></div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>



<script src="{% static 'js/user/login.js' %}"></script>

{% endblock %}