{% extends "base.html" %}
{% block content %}

 <h2> «Умный планировщик и автоматизатор email-рассылок для бизнеса»  </h2>

     <p>
         платформа для автоматизации email-маркетинга, планирования рассылок по расписанию, ведения клиентских баз и импорта контактов.
     </p>
     <p>
         Сервис, который позволяет загрузить базу клиентов (из Excel или просто списком\добавлять по одному и тд) и настроить отправку писем (например, напоминания о продлении подписки, поздравления с ДР или акции) сразу или по расписанию.
    </p>

{% endblock %}



