{% extends "base.html" %}
{% block title %}
Смена пароля
{% endblock %}
{% block content %}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-header">
            <h3>Смена пароля</h3>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Текущий пароль</label>
                <input
                    id="old_password"
                    type="password"
                    class="form-control"
                >
            </div>
            <div class="mb-3">
                <label class="form-label">Новый пароль</label>
                <input
                    id="new_password"
                    type="password"
                    class="form-control"
                >
            </div>
            <div
                id="message"
                class="alert d-none"
            ></div>
            <button id="save-button" class="btn btn-success">Сохранить</button>
            <a href="{% url 'profile_page' %}" class="btn btn-secondary">Отмена</a>

        </div>
    </div>
</div>



<script>
document.getElementById("save-button").addEventListener("click", async function () {

    const response = await fetch("/change_password/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Authorization": "Bearer " + localStorage.getItem("access")
        },
        body: JSON.stringify({
            old_password: document.getElementById("old_password").value,
            new_password: document.getElementById("new_password").value
        })
    });
    const message = document.getElementById("message");
    if (response.ok) {
        message.className = "alert alert-success";
        message.textContent = "Пароль успешно изменен";
    } else {
        message.className = "alert alert-danger";
        message.textContent = "Ошибка смены пароля";
    }
});
</script>

{% endblock %}