{% extends "base.html" %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}

<h2>Регистрация</h2>
<form id="registerForm">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Имя пользователя</label>
        <input
            type="text"
            id="username"
            class="form-control"
            placeholder="Введите имя"
            required
        >
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input
            type="email"
            id="email"
            class="form-control"
            placeholder="Введите email"
            required
        >
    </div>

    <div class="mb-3">
        <label class="form-label">Пароль</label>
        <input
            type="password"
            id="password"
            class="form-control"
            placeholder="Введите пароль"
            required
            minlength="8"
        >
    </div>

    <div id="message" class="mb-3"></div>

    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
</form>



<script>
    function getCookie(name) {

    let cookieValue = null;

    if (document.cookie && document.cookie !== "") {

        const cookies = document.cookie.split(";");

        for (let cookie of cookies) {

            cookie = cookie.trim();

            if (cookie.startsWith(name + "=")) {

                cookieValue = decodeURIComponent(
                    cookie.substring(name.length + 1)
                );

                break;
            }
        }
    }

    return cookieValue;
}

const csrftoken = getCookie("csrftoken");
    const form = document.getElementById("registerForm");

    form.addEventListener("submit", async function(event) {
        event.preventDefault();

        const username = document.getElementById("username").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;

        const response = await fetch("/register/", {
            method: "POST",

            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken
            },

            body: JSON.stringify({
                username: username,
                email: email,
                password: password
            })
        });

        const data = await response.json();

        const message = document.getElementById("message");

        if (response.ok) {
            message.innerHTML =
                '<div class="alert alert-success">Регистрация прошла успешно</div>';

            form.reset();
        } else {
            message.innerHTML =
                '<div class="alert alert-danger">' +
                JSON.stringify(data) +
                '</div>';
        }
    });
</script>

{% endblock %}