Django==6.0.7
django-environ==0.14.0
psycopg2-binary==2.9.12
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
drf-spectacular-sidecar==2026.7.1
django-filter==26.1




